/*
just here so that plotly works
correctly with ioslides.
see https://github.com/ropensci/plotly/issues/463
*/

slide:not(.current) .plotly.html-widget{
  display: none;
}

/* hides the svg dom element that has the click handler responsible for toggling */
.legend .groups:nth-of-type(1) .legendtoggle { 
  display: none;
}
/* just for presentation: shows the default cursor instead of the text cursor */
.legend .groups:nth-of-type(1) .legendtext { 
  cursor: default;
}

